*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h2{
	font-family: cursive;
	text-align: center;
	color: teal;
	margin: 20px;
	padding: 20px;
}
.box1,.box2,.box3{
	background-color: gray;
	color: black;
	border: 1px solid black;
	margin: 10px;
	
}

/* large devices*/
@media (min-width:992px){
	.box1{
		float: left;
		width:30%;
		
		
			}
			.box2{
		float: left;
		position: relative;
		left: 50px;
		width:30%;
		
			}
			.box3{
		float: left;
		position: relative;
		width:30%;
		left: 92px;
			}
		
		}
		
@media (min-width:768px) and (max-width:991px){
	.box1{
		float: left;
		width:47%;
			}
			.box2{
		float: right;

		width:47%;
			}
			.box3{
		clear: both;
		width:98%;
			}

}
#chicken{
	color:black;
text-align: center;
border: 1px solid black;
padding: 4px;
float:right;
width: 68px;
	height: 30px;
	border-top: none;
	border-right: none;
	background-color: pink;
	font-size: 20px;
	
}
#beef{
	color :white;
text-align: center;
border: 1px solid black;
padding: 4px;
float: right;
width: 68px;
	height: 30px;
	border-top: none;
	border-right: none;
	background-color:rgb(235, 66, 66);
	font-size: 20px;
}

#Sushi{
	color: black;
text-align: center;
border: 1px solid black;
padding: 4px;
float: right;
width: 68px;
	height: 30px;
	border-top: none;
	border-right: none;
	background-color: rgb(252, 252, 146);
	font-size:20px;
}
#cont{
	border: 1px solid black;
}
p{
	text-align: justify;
	padding: 25px;
	font-size: 15px;
}
body{
	background-color:#123456;
	
}
/*end*/