body{
    background-color: rgb(179, 112, 243);
    color: white;
}

#header-nav{
    background-color: rgb(5, 16, 48);
    border-radius: 0;
    border: none;

}
.navbar-brand a:hover , .navbar-brand a:focus{
   text-decoration: none;
}
.navbar-brand h1{
    margin-top: -9px;
    margin-bottom: 10px;
    
}
#chicken{
    border: 1px solid black;
    background-color: rgb(166, 166, 223);
    margin: 6px;
    
    /* width:1000px;*/
    /* padding: 10px; */
    
}
h3{
    color: black;
    font-size :1.2em;
    font-weight: bold;
    text-align: center;
}
p {
    color: black
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    
    margin-bottom: 44px;
    color: black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border :2px solid #337ab7;
}
#nav-list a{
    border: 1px solid black;
    padding: 10px;
    color:#337ab7;
    font-weight: bold;
    background-color:rgb(50, 55, 73);
}
#nav-list a:hover{
    background-color: rgb(160, 187, 236);
}

/* button.navbar-toggle.collapsed:{
    background-color: red;
} */
